@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

$text-color: #868686;
$highlight-color: -webkit-gradient(linear, left top, right bottom, from(#3023AE), to(#C96DD8));

html, body {
	padding: 0;
	margin: 0;
	
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 1.125vw;

	@media screen and (max-width: 1200px) {
		font-size: 3.4vw;
		line-height: 1.5;
	}
	
	height: 100%;
	width: 100%;
}

canvas {
	display: block;
	vertical-align: bottom;
	opacity: 0.5;
}

.align {
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.align-item {
	flex: 1;
}

#particles-js {
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

#hero-container {

	position: relative;
	
	max-width: 80vw;
	height: 100%;
	
	margin: 0 auto;

	@media screen and (max-width: 1200px) {
		max-width: 100%;
	}

	& > #hero-logo {
		display: inline-block;
		position: absolute;
		top: 32px;
		left: 32px;
		
		width: 32px;
		height: 32px;
	}
	
	& > #contact-links {
		color: $text-color;
		
		position: absolute;
		bottom: 0px;
		right: 0px;
		
		padding: 32px;
		font-size: 14px;

		@media all and (min-width: 1200px) {

		}

		@media all and (max-width: 1200px) {
			font-size: 12px;

			text-align: center;
			left: 0px;
		}
		
		& > a {
			color: inherit;
			text-decoration: none;
			
			&:hover {
				color: #000;
			}
		}
	}
}

#hero-text {
	color: $text-color;
	text-align: center;

	& > #small-break {
		@media screen and (min-width: 1200px) {
			display: none;
		}
	}

	& > #small-device {
		font-size: 42vw;

		@media screen and (min-width: 1200px) {
			display: none;
		}
	}

	& > #large-device {
		@media screen and (max-width: 1200px) {
			display: none;
		}
	}
	
	& > h1 {
		display: inline-block;

		margin: 0;
		padding: 0;
		
		text-transform: uppercase;
		font-weight: 800;
		font-size: 9vw;

		line-height: 1;
		
		// line-height: 1.5em;
		
		background: $highlight-color;
		
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@media all and (min-width: 1200px) {
			#small-device {
				display: none;
			}
		}

		@media all and (max-width: 1200px) {

		}
	}
	
	& > b {
		font-weight: 700;
		
		background: $highlight-color;
		
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}